In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv("../udemy/Kursmaterialien/data/Temperature/GlobalLandTemperaturesByMajorCity.csv.bz2")

longitudeDir = df["Longitude"].str[-1]
df["Longitude"] = df["Longitude"].str[:-1].astype("float")
df.loc[longitudeDir == "W", "Longitude"] = df["Longitude"] * -1

latDir = df["Latitude"].str[-1]
df["Latitude"] = df["Latitude"].str[:-1].astype("float")
df.loc[latDir == "S", "Latitude"] = df["Latitude"] * -1

df["dt"] = pd.to_datetime(df["dt"])

df

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63,-3.23
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63,-3.23
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63,-3.23
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63,-3.23
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63,-3.23
...,...,...,...,...,...,...,...
239172,2013-05-01,18.979,0.807,Xian,China,34.56,108.97
239173,2013-06-01,23.522,0.647,Xian,China,34.56,108.97
239174,2013-07-01,25.251,1.042,Xian,China,34.56,108.97
239175,2013-08-01,24.528,0.840,Xian,China,34.56,108.97
239176,2013-09-01,NaN,NaN,Xian,China,34.56,108.97

## Aufgabe 1

In Äquatornähe ist es tendenziell wärmer als weiter nördlich bzw. weiter südlich. 

a) Was ist die durchschnittliche "AverageTemperature" für alle Messwerte zwischen einem Breitengrad ("Latitude") von -10 und 10 Grad?

b) Und was ist die durchschnittliche "AverageTemperature" für alle Messwerte außerhalb dieses Bereiches?

**Hinweis:** Beantworte beide Fragen mit jeweils nur einer (wenn auch komplexen) Zeile Python-Code. Ggf wirst du hierfür die `.loc`-Schreibweise benötigen.

In [15]:
print(f"Average Temperature a): {df.loc[(df.Latitude <= 10) & (df.Latitude >= -10), "AverageTemperature"].mean()}")
print(f"Average Temperature b): {df.loc[(df.Latitude > 10) | (df.Latitude < -10), "AverageTemperature"].mean()}")
# Alternativ zu b) => df.loc[~((df.Latitude <= 10) & (df.Latitude >= -10)), "AverageTemperature"].mean()

Average Temperature a): 24.122938217747947
Average Temperature b): 17.32718700802066

np.float64(17.32718700802066)

## Aufgabe 2

In welchem Land wurde im Schnitt die höchste "AverageTemperature" gemessen?

In [24]:
df_country = df.groupby("Country").agg(avgTemp = ("AverageTemperature", "mean"))
df_country.sort_values("avgTemp", inplace=True, ascending=False)
df_country.head()

            avgTemp
Country
Sudan     29.081291
Vietnam   27.193984
Thailand  27.164733
Somalia   27.151964
Burma     26.735193

In [27]:
df_country.iloc[0].name

'Sudan'

## Aufgabe 3

Filtere die Daten (in einer neuen Variable), sodass nur noch die Jahre 1990-2012 (bis zum 31.12.2012) betrachtet werden.

Erstelle anschließend eine Auflistung, bei der für jedes Jahr der Durchschnittswert der Spalte "AverageTemperature" berechnet wird! Welches dieser Jahre war das wärmste Jahr?

**Hinweis:** Du kannst Datumswerte einfach miteinander vergleichen. Dies funktioniert auch, wenn auf der rechten bzw. auf der linken Seite eine Series steht, hier in diesem Beispiel wird also dann `True` ausgegeben:

```python
print(pd.to_datetime("1990-01-01") < pd.to_datetime("1995-01-01"))
```

In [42]:
df_filtered = df[(df["dt"] > pd.to_datetime("1990-01-01")) & (df["dt"] < pd.to_datetime("2012-12-31"))]
df_filtered["year"] = df["dt"].dt.year
res = df_filtered.groupby("year").agg(avgT = ("AverageTemperature", "mean"))
res.sort_values("avgT", ascending = False, inplace = True)
print(res.iloc[0].name)

1990

/var/folders/hx/y2d2677x1c52yx01841155080000gn/T/ipykernel_60558/490597861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["year"] = df["dt"].dt.year