In [1]:
import pandas as pd

df = pd.read_csv("../udemy/Kursmaterialien/data/Temperature/GlobalLandTemperaturesByMajorCity.csv.bz2")
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [2]:
# War es in 2012 im Durschnitt wärmer als 2010?

df["dt"] # string

0         1849-01-01
1         1849-02-01
2         1849-03-01
3         1849-04-01
4         1849-05-01
             ...
239172    2013-05-01
239173    2013-06-01
239174    2013-07-01
239175    2013-08-01
239176    2013-09-01
Name: dt, Length: 239177, dtype: object

In [3]:
pd.to_datetime(df["dt"])

0        1849-01-01
1        1849-02-01
2        1849-03-01
3        1849-04-01
4        1849-05-01
            ...
239172   2013-05-01
239173   2013-06-01
239174   2013-07-01
239175   2013-08-01
239176   2013-09-01
Name: dt, Length: 239177, dtype: datetime64[ns]

In [4]:
df["dt"] = pd.to_datetime(df["dt"])
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [5]:
df["dt"].dt.year

0         1849
1         1849
2         1849
3         1849
4         1849
          ...
239172    2013
239173    2013
239174    2013
239175    2013
239176    2013
Name: dt, Length: 239177, dtype: int32

In [13]:
avg2012 = df.loc[df["dt"].dt.year == 2012, "AverageTemperature"] # = series mit den Durschnittstemp. aus 2012
avg2010 = df.loc[df["dt"].dt.year == 2010, "AverageTemperature"]
print(f"2012: {avg2012.mean()}")
print(f"2010: {avg2010.mean()}")

2012: 19.66823916666667
2010: 19.911734166666665