# Class with simple input and for loop

In [1]:
class Order:
    def __init__(self, order_id, last_name, first_name):
        self.order_id = order_id
        self.last_name = last_name
        self.first_name = first_name

In [2]:
order_list =[Order(1, "Olding", "Sven"), Order(2, "Frühsorger", "Irene"), Order(3, "Li", "Qian"), Order(4, "Wurst", "Hans")]

In [3]:
def find_order(order_id, order_list):
    for o in order_list:
        if o.order_id == order_id:
            return o

In [4]:
look_for = int(input("Welche Bestellnummer?"))

ValueError: invalid literal for int() with base 10: ''

In [52]:
order = find_order(look_for, order_list)

In [53]:
print(order.last_name + ", " + order.first_name)

Li, Qian

# List comprehension (listcomp)

In [1]:
sizes = ["XS", "S", "M", "L", "XL", "XXL"]
colors = ["black", "white", "blue", "red"]

In [2]:
tshirts = [(color, size) for color in colors 
                           for size in sizes]

In [3]:
tshirts

[('black', 'XS'),
 ('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('black', 'XL'),
 ('black', 'XXL'),
 ('white', 'XS'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L'),
 ('white', 'XL'),
 ('white', 'XXL'),
 ('blue', 'XS'),
 ('blue', 'S'),
 ('blue', 'M'),
 ('blue', 'L'),
 ('blue', 'XL'),
 ('blue', 'XXL'),
 ('red', 'XS'),
 ('red', 'S'),
 ('red', 'M'),
 ('red', 'L'),
 ('red', 'XL'),
 ('red', 'XXL')]

# Generator Expression genexp

In [4]:
symbols = "$¢£¥€¤"

In [5]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
import array
array.array("I", (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

# Tuples

In [10]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [13]:
city

'Tokyo'

In [14]:
pop

32450

In [11]:
for passport in sorted(traveler_ids):
    print("%s/%s" % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [12]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

## Tuple reference mutability

In [1]:
a = (10, "alpha", [4, 5])
b = (10, "alpha", [4, 5])
a == b

True

In [2]:
b[-1].append(99)
a == b

False

In [3]:
b

(10, 'alpha', [4, 5, 99])

In [4]:
a

(10, 'alpha', [4, 5])

# Unpacking sequences

In [6]:
lax_coordinates = (33.9425, -118.408056)
lat, long = lax_coordinates
lat

33.9425

In [7]:
long

-118.408056

In [8]:
divmod(20, 8)

(2, 4)

In [9]:
t = (20, 8)
divmod(*t)

(2, 4)

In [10]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [11]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

# Pattern Matching

In [12]:
metro_areas = [('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [14]:
for record in metro_areas:
    match record:
        case [name, _, _, (lat, long)] if long <= 0:
            print(f"{name:15} | {lat:9.4f} | {long:9.4f}")

Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

# Slicing

In [15]:
l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [16]:
l[2:]

[30, 40, 50, 60]

In [17]:
l[:3]

[10, 20, 30]

In [18]:
s = "bicycle"
s[::3]

'bye'

In [19]:
s[::-1]

'elcycib'

In [20]:
s[::-2]

'eccb'

# Dicts

## Dict comprehension

In [6]:
dial_codes = [
    (81, "Japan"),
    (880, "Bangladesh"),
    (91, "India"),
    (86, "China"),
    (7, "Russia"),
    (55, "Brazil")
]

country_dial = {country: code for code, country in dial_codes}
country_dial

{'Japan': 81,
 'Bangladesh': 880,
 'India': 91,
 'China': 86,
 'Russia': 7,
 'Brazil': 55}

In [7]:
{code: country.upper() for country, code in sorted(country_dial.items())}

{880: 'BANGLADESH',
 55: 'BRAZIL',
 86: 'CHINA',
 91: 'INDIA',
 81: 'JAPAN',
 7: 'RUSSIA'}

## Merge mappings

In [12]:
d1 = {"a": 1, "b": 3}
d2 = {"a": 2, "b": 3, "c": 4}
d1 | d2

{'a': 2, 'b': 3, 'c': 4}

In [13]:
d1

{'a': 1, 'b': 3}

In [14]:
d1 |= d2

In [15]:
d1

{'a': 2, 'b': 3, 'c': 4}

## Pattern Matching with Mappings

In [ ]:
def get_creators(record: dict) -> list:
    match record:
        case {"type": "book", "api": 2, "authors": [*names]}
            return names
    case _:
        raise ValueError(f"invalid record: {record!r})